.alert {
    position: relative;
    padding: .625rem .625rem .625rem 3rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.alert::before {
    display: block;
    position: absolute;
    top: .8rem;
    left: .9rem;
    width: 1.5rem;
    height: 1.5rem;
}

.alert__heading {
    font-size: 1.125rem;
    line-height: 1.666666666666667;
}

.alert__description {
    opacity: .5;
    font-size: .75rem;
    line-height: 1.666666666666667;
}

.alert--danger {
    color: var(--danger);
    background: #faeae6;
}

.alert--danger::before {
    content: var(--meh);
}