.footer {
    margin-top: auto;
    padding: .195rem .6875rem .195rem .9375rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, .2);
    flex-grow: 1;
    flex-shrink: 0;
}

.footer__left,
.footer__center,
.footer__right {
    margin-top: .4rem;
    margin-bottom: .4rem;
}